<div class="row">
  <div class="col-md-8 col-md-8-offset-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        All artists
      </div>
      <div class="panel-body">

        <% @artists.each do |artist| %>
        <div class="row">
          <div class="col-md-7">
            <h4><%= link_to artist.name, artist %></h4>
            <%= image_tag artist.photo.image, size: "100x100", alt: "Artist photo" %>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
